
 * {
	margin: 0;
	padding: 0;
}



main {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	
	
}


header {
	background-color:#333;
	color: white;
	
	text-align: center;
}
header h1{
	padding-top:10px;
}
header button{
	margin:10px;
	width: 90px;
	border-radius: 10px;
	
	




}


header a{
	text-decoration: none;
	
}

.marketing {
	margin-bottom: 200px;
	margin-top: 80px;
	text-align: center;
	padding: 20px;
font-family: monospace;
	font-weight: bold;
	color:#4E6E81;
}

.img1{
	width:100px;
	margin-top:200px;

}



.course-img{
		width:250px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	
.courses-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }







.courses {
	padding: 20px;
}


table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #333;
	color: white;
}



.btn-update{
	background-color:olivedrab;
	border-style: none;
	
	
	
}
.btn-update a{
	text-decoration: none;
	font-weight: bold;
	color:white;
	
}
.btn-delete{
	background-color:burlywood;
	border-style: none;
	
	
	
}
.btn-delete a{
	text-decoration: none;
	font-weight: bold;
	color:red;
	
}


.btn-create{
	background-color:#333;
	border-style: none;
    width: 120px;
	height:30px;
	display: flex;
	margin-left: 20px;
	align-items: center;
	display: inline-block;
	margin-top: 120px;
	
}
.btn-create  a{
	text-decoration: none;
	font-weight: bold;
	color:lawngreen;
}

.course-id{
	display: none;
}


.enroll a{
	text-decoration: none;
	font-weight: bold;
	color:yellow;
	
}

.enroll{
	background-color:black;
	border-style: none;
	width:70px;
}

